body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-color: #f4f4f4;
}

header {
    background: #568203;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

input:focus, button:focus {
    outline: 2px solid #568203;
    transition: outline 0.3s ease-in-out;
}

button {
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #555;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    margin-bottom: 15px;
}

#responseMessage {
    margin-top: 10px;
    font-weight: bold;
}

